/* ====================== CSS document ====================== */
html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

body {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    color: #333333;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em;
}

nav,
footer {
    font-family: 'Oswald';
    background-color: aquamarine;
    width: 100vh;
}

/* ====================== CSS header ====================== */
nav {
    position: absolute;
    height: 10em;
    display: flex;
    justify-content: space-around;
}

nav img {
    margin: 0.5em 0;
    border-radius: 4em;
}

nav h1 {
    font-size: 2em;
}

.header-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-size: 1.5em;
}

.header-descriptive h2 {
    font-weight: 100;
}

.btn-menu {
    margin: 0.5em;
    background-color: transparent;
    color: #333333;
    border: none;
    padding: 0.75em 1em;
    font-size: 1em;
    cursor: pointer;
}

.btn-menu:hover {
    opacity: 0.5;
}

/* ====================== CSS main ====================== */
.main-content {
    padding-top: 10em;
    width: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main h2 {
    font-family: 'Oswald';
    font-size: 2em;
}

/* ====================== CSS sections ====================== */
.programming-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.neighborhood-map {
    background-image: url('../images/small-neighborhood-map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 25%;
}

.memory-game {
    background-image: url('../images/small-memory-game.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 25%;
}

.my-reads {
    background-image: url('../images/small-my-reads.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 25%;
}

/* ====================== CSS footer ====================== */
footer {
    display: flex;
    flex-direction: row;
    height: 5em;
    justify-content: flex-start;
    align-items: center;
}

.fab {
    margin: 0 0.5em;
}

.fab:hover {
    opacity: 0.7;
}

.fa-icons {
    display: flex;
    width: 30%;
}